# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=Lightcoin Core Daemon SNAP
Comment=testnet
GenericName=Lightcoin Digital Currency Daemon Client testnet network
Exec=Lightcoin-core.daemon-testnet %u
Terminal=true
Type=Application
Icon=${SNAP}/share/pixmaps/Lightcoin_testnet.png
MimeType=x-scheme-handler/lhc;
Categories=X-Office;X-Finance;
Keywords=internet;Lightcoin;zLHC;core;wallet;daemon;testnet;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
